@import "tailwindcss";

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(135deg, black, red, blue);
  overflow: hidden;
}

.birthday-cake {
  position: relative;
  width: 0;
  height: 0;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .birthday-cake {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .birthday-cake {
    transform: scale(0.55);
  }
}

.holder {
  position: absolute;
  width: 350px;
  height: 20px;
  border-radius: 100px;
  background-color: #212f3c;
  left: -175px;
  top: 10px;
}

.holder::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 150px;
  background-color: #cacfd2;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.shadow {
  position: absolute;
  width: 350px;
  height: 20px;
  border-radius: 50%;
  top: 170px;
  left: -175px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.shadow::before {
  content: "";
  position: absolute;
  background-color: #cacfd2;
  width: 150px;
  height: 20px;
  border-radius: 20px;
  top: -10px;
  left: 100px;
}

.cake {
  position: absolute;
  overflow: hidden;
  width: 275px;
  height: 140px;
  background-color: #fcf4a3;
  top: -130px;
  left: -137.5px;
  border-radius: 30px 30px 0 0;
}

.cake::before {
  content: "";
  position: absolute;
  background-color: #fffff0;
  width: 275px;
  height: 15px;
  top: 75px;
  box-shadow: 0 30px #fffff0;
}

.cake::after {
  content: "";
  position: absolute;
  background-color: #573612;
  width: 275px;
  height: 40px;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.07);
}

.chocolate {
  position: absolute;
  background-color: #573612;
  width: 25px;
  height: 45px;
  top: 25px;
  left: 0;
  z-index: 2;
  border-radius: 50px;
  box-shadow:
    25px 2px #fcf4a3,
    50px -10px #573612,
    75px -5px #fcf4a3,
    100px 3px #573612,
    125px 0 #fcf4a3,
    150px -5px #573612,
    175px 3px #fcf4a3,
    200px -5px #573612,
    225px -10px #fcf4a3,
    250px 4px #573612;
}

.candle {
  position: absolute;
  width: 15px;
  height: 70px;
  background-color: white;
  top: -200px;
  left: -7.5px;
  box-shadow: inset 0 -10px #e74c3c;
}

.candle::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #e74c3c;
  top: 10px;
  box-shadow: 0 25px #e74c3c;
}

.candle::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: black;
  top: -15px;
  left: 6px;
}

.flame {
  position: absolute;
  background-color: #f4d03f;
  opacity: 0.9;
  box-shadow: inset 0 -5px 5px #d35400, 5px -5px 20px #fbffa3;
  width: 20px;
  height: 30px;
  top: -235px;
  border-radius: 50%;
  left: -10px;
  animation: flame 0.8s infinite ease-in-out alternate;
  transform-origin: bottom center;
}

@keyframes flame {
  0% {
    transform: scale(1, 1) rotate(-2deg);
    opacity: 0.9;
  }

  25% {
    transform: scale(0.9, 1.1) rotate(2deg);
    opacity: 1;
  }

  50% {
    transform: scale(1.1, 0.9) rotate(-1deg);
    opacity: 0.85;
  }

  75% {
    transform: scale(0.95, 1.05) rotate(1deg);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1) rotate(0deg);
    opacity: 0.95;
  }
}